language: scala
scala:
   - 2.11.2

sudo: required
services:
  - docker

env:
  global:
    - SPARK_HOME=./spark

matrix:
  fast_finish: true
  include:
  - scala: 2.11.2
    script:
      - sleep 10 # wait for it doesn't work, port is avalable but scyllaDB is still down
      - tar -xzf src/test/resources/weighted-minhash/csv.tar.gz -C src/test/resources/weighted-minhash/
      - ./sbt "test-only * -- -l tags.FEIntegration"

  - scala: 2.11.2
    env: INTEGRATION_TESTS=true
    install:
      - make build
    script:
      - ./scripts/get_apache_spark.sh "2.2.0" "2.7" || travis_terminate 1
      - sleep 10 # wait for it doesn't work, port is avalable but scyllaDB is still down
      - ./hash src/test/resources/siva || travis_terminate 1
      - ./query ./src/test/resources/LICENSE
      - ./report
      - go get ./src/main/go/... || true
      - go run ./src/main/go/query.go ./src/test/resources/LICENSE
    before_deploy:
      - VERSION=$TRAVIS_TAG ./scripts/release.sh
    deploy:
      - provider: releases
        api_key:
          secure: $GITHUB_TOKEN
        file_glob: true
        file: gemini_$TRAVIS_TAG.tar.gz
        skip_cleanup: true
        on:
          tags: true
      - provider: script
        script: make docker-push-latest
        on:
          tags: true
      - provider: script
        script: make docker-push
        on:
          branch: experimental

  - scala: 2.11.2
    env:
      - INTEGRATION_TESTS=true
      - MASTER=spark://127.0.0.1:7077
    install:
      - make build
      - 
    script:
      # start dependencies
      - ./scripts/get_apache_spark.sh "2.2.0" "2.7" || travis_terminate 1
      - ./scripts/start_apache_spark_cluster.sh "127.0.0.1" "7077" || travis_terminate 1
      # python will be installed after https://github.com/src-d/gemini/issues/60
      # and after merge https://github.com/src-d/gemini/pull/98 we can use local fe runner
      - docker build -t srcd/gemini-fe -f FE.Dockerfile .
      - ./scripts/start_docker_fe.sh
      - sleep 10 # wait for it doesn't work, port is avalable but scyllaDB is still down
      - ./hash src/test/resources/siva || travis_terminate 1
      # query without similarity
      - ./query ./src/test/resources/LICENSE
      # query with similarity
      - docker cp ./src/test/resources/hashtables_dump.cql db:/hashtables_dump.cql
      - docker exec -it db cqlsh -e "SOURCE '/hashtables_dump.cql'"
      - ./query --doc-freq-file=src/test/resources/docfreq.json --params-file=src/test/resources/params.json --hashtables-num=9 --band-size=13 ./src/test/resources/consumer.go | tee query_result.txt
      # check both identical & similar files appeared in output
      - grep "Duplicates of ./src/test/resources/consumer.go" query_result.txt > /dev/null
      - grep "Similar files of ./src/test/resources/consumer.go" query_result.txt > /dev/null
      # report
      - ./report
      # go query
      - go get ./src/main/go/... || true
      - go run ./src/main/go/query.go ./src/test/resources/LICENSE

  - scala: 2.11.2
    env: STYLE_CHECK=true
    script: ./sbt scalastyle

  - scala: 2.11.2
    env: FE_PYTHON_TEST=true
    script:
      - docker build -t srcd/gemini-fe -f FE.Dockerfile .
      - docker run --rm -e PYTHONHASHSEED=0 srcd/gemini-fe pytest -v
      - docker run -p 9001:9001 -e PYTHONHASHSEED=0 -d srcd/gemini-fe
      - ./sbt "test-only * -- -n tags.FEIntegration"

  - scala: 2.11.2
    env: PYTHON_LINT_TESTS=true
    before_install:
      - sudo apt-get -qq update
      - sudo apt-get -y install python3-pip
      - pip3 install --user yapf
    script:
      - make lint-python

  - scala: 2.11.2
    env: PYTHON_LIB_TESTS=true
    before_install:
      - sudo apt-get -qq update
      - sudo apt-get -y install python3-pip
      - sudo pip3 install --upgrade pip setuptools wheel
      - pip3 install --user --only-binary=numpy,scipy -r src/main/python/community-detector/requirements.txt pytest
    script:
      - pytest -v src/main/python/community-detector

before_script:
 - ./scripts/start_docker_db.sh
 - ./scripts/start_docker_bblfsh.sh

after_failure:
 - docker logs db

cache:
  directories:
    - .spark-dist
    - /home/travis/.sbt
    - /home/travis/.ivy2
    - /home/travis/bblfsh-drivers
